.profile {
  width: 320px;
  margin: auto auto;
  align-content: center;
  text-align: center;

  border: solid 1px grey;
  border-radius: 5px;
  background-color: rgb(249, 250, 217);
  overflow: hidden;
}

.avatar {
  margin: 30px auto 30px auto;
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.name {
  font-size: 26px;
  font-weight: 500;
}

.tag,
.location,
.label {
  color: gray;
}

.label {
  width: 100%;
}

.quantity {
  font-weight: 600;
}

.stats {
  height: 70px;

  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}

.stats li {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 110px;
  background-color: rgb(228, 228, 228);
  border: 1px solid rgb(219, 219, 219);
  padding: 10px;
}
